{% extends '../templates/base2.html' %}
{% load i18n %}
{% load rent_tags %}
{% block title %} Add Item{% endblock %}
{% block head %}
<link href="https://getbootstrap.com/examples/signin/signin.css" rel="stylesheet">
{% endblock %}
{% block content %}
<form method="post" role="form" action="" enctype='multipart/form-data' class="form-signin">
    <h2 class="form-signin-heading">Add an Item</h2>
    {% csrf_token %}
    {% for field in form %}
      <div class="form-group">
        <label for="{{field.id_for_label}}">{{ field.label_tag }}</label>
        <label for="{{field.id_for_label}}">{{ field.errors }}</label></br>
        {{field}}
      </div>
    {% endfor %}
    <input type="submit" value="{% trans 'Add' %}" class="btn btn-lg btn-primary btn-block"/>
</form>
{% endblock %}