{% extends '../templates/base.html' %}
{% block title %}{{item.name}}{% endblock %}
{% block super %}
{% endblock %}
{% block content %}
<h1>Name : </u> {{ item.name }}</h1>
<h2>Description : {{ item.description }}</h2>
<h2>Price per week : {{ item.price }}</h2>
<h2>Location : {{ item.location }}</h2>
<img src="/media/{{ item.image }}" height="300">
</br>
{% if request.user == item.user %}
<a href="/item/{{ item.slug }}/edit/">Edit</a><br>
{% else %}
<form action="/requestitem/" method="POST">
{% csrf_token %} 
<input type="text" hidden="true" name="item_id" value="{{item.id}}"/>
<input type="number" name="duration" min="1" max="4"/>
<input type="submit" value="request"/>
</form>
{% endif %}



<a href="/home.html">Home</a><br>
<a href="/items/">Back</a>
{% endblock %}