{% extends '../templates/base2.html' %}
{% load i18n %}
{% block title %} Request Success{% endblock %}
{% block head %}
<style type="text/css">
	.im-centered {margin: auto; max-width: 300px;}
	a.sml { margin: auto; max-width: 300px; }
</style>
<link href="https://getbootstrap.com/examples/signin/signin.css" rel="stylesheet">
{% endblock %}
{% block content %}
<div class="container">
<div class="alert alert-success" role="alert">
   <h1 style="text-align:center;"> Your request has been sent to the item owner, you will soon be getting an email with details of the owner for arranging the exchange</h1>
</div>
<a href="/items" class="sml btn btn-lg btn-primary btn-block">Explore Other Items</a>
</div>
{% endblock %}