{% extends '../templates/base2.html' %}
{% block content %}
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1>Welcome to RentXYZ.in!</h1>
        <p>This is a platform that enables you to rent any items near your area as well as rent out any items you own to folks around you.</p>
        <p>
        {% if request.user.is_authenticated %}
        <a href="/items"class="btn btn-primary btn-lg" href="#" role="button">Explore Items for Rent &raquo;</a>
        {% else %}
        <a href="/accounts/register/"class="btn btn-primary btn-lg" href="#" role="button">Get Started &raquo;</a>
        {% endif %}
        </p>
      </div>
    </div>

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <h1>How it works?</h1>
        <div class="col-md-4">
          <h2>Add Items for Rent</h2>
          <p>You can now earn money for unused gadgets by adding them here and allowing folks around you to discover them and rent it on a weekly basis.</p>
          
        </div>
        <div class="col-md-4">
          <h2>Manage Requests</h2>
          <p>Once an order is places, you get a request notification. You then can approve the request or deny. You have total control on who gets to get what.</p>
          
       </div>
        <div class="col-md-4">
          <h2>Request Items for Rent</h2>
          <p>If in need of something, you can now discover it on our items feed which lists out all items posted by users around you.</p>
          
        </div>
      </div>
{% endblock %}